<div class="container" style="margin:0 auto;">
  <h1>Artículos</h1>
  <div class="row">
    <%= render @articles %>
  </div>
  <hr/>
  <div class="top-space">
    <%= will_paginate @articles %>
  </div>
</div>
